
@media screen and (max-width:768px){
    .container {
        display: block;
     }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em
    }
    
    
    
    .dispositivos__lista {
        display: block;
    }

    .secundario__imagem {
        width:50vw;
    }



}
